# Infrastructure
Host cloudkey
  User pi
  Hostname 192.168.0.2

Host usg
  user asellitt
  Hostname 192.168.0.1

# NAS Servers
Host mediabox
  User root
  Hostname 192.168.0.10

Host seriesbox
  User root
  Hostname 192.168.0.11

Host cerealbox
  User root
  Hostname 192.168.0.12


# Pi Servers
Host torrentialpi
  User pi
  Hostname 192.168.0.20


# XBMC Servers
Host loungebmc
  User pi
  Hostname 192.168.0.21

Host bedbmc
  User pi
  Hostname 192.168.0.22

Host theatrebmc
  User pi
  Hostname 192.168.0.23

Host gymbmc
  User pi
  Hostname 192.168.0.24


