# Infrastructure

Host usg
  User asellitt
  Hostname 192.168.0.1

Host cloudkey
  User pi
  Hostname 192.168.1.2

Host proxmox
  User root
  Hostname 192.168.1.100

Host homeassistant
  User hassio
  Hostname 192.168.1.101

Host nuctainer
  User administrator
  Hostname 192.168.1.102

Host tailscale
  User root
  Hostname 192.168.1.103

Host nas
  User asellitt_admin
  Hostname 192.168.1.150
  Port 32928

# Consoles

Host deck
  User deck
  Hostname 192.168.100.9

# Kodi Servers

Host bedbmc
  User pi
  Hostname 192.168.3.43

Host gymbmc
  User pi
  Hostname 192.168.3.123

Host loungebmc
  User pi
  Hostname 192.168.3.183

Host theatrebmc
  User pi
  Hostname 192.168.3.243
