<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>333BABB2-0639-4583-A4AB-5DA266341535</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghd</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>GitHub Docs Reop</string>
			<key>url</key>
			<string>https://github.com/envato/docs/search?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>649645C0-C449-4C3D-A6B0-78485A530537</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rails</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Dash Rails</string>
			<key>url</key>
			<string>dash://rails:{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>73819D66-BDB0-4337-A764-64D738824455</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ruby</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Ruby</string>
			<key>url</key>
			<string>dash://ruby:{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>7AA80C31-D49A-4A63-9485-C075579FC857</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lh</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Lighthouse</string>
			<key>url</key>
			<string>https://envato.lighthouseapp.com/projects/5394-marketplace/tickets/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>7B0CEE4B-B43A-4157-A981-9AD159580050</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>es</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Support</string>
			<key>url</key>
			<string>http://support.envato.com/staff/index.php?/Tickets/Ticket/View/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>90A8720B-AD3F-46D9-BE3E-25C3D779E114</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>man</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Dash Man</string>
			<key>url</key>
			<string>dash://man:{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>9D8463F1-E7B3-41A4-8A8C-7B048E004925</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rbp</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Rollbar Person</string>
			<key>url</key>
			<string>https://rollbar.com/project/1740/person/?environment=production&amp;amp;person_id={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>A82E7752-2584-4FC5-A83E-E40EB98445A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dash</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Dash for '{query}'</string>
			<key>url</key>
			<string>dash://{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>B311E223-07BB-4DBD-9826-64423D8CD7A3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mpu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Marketplace User</string>
			<key>url</key>
			<string>http://themeforest.net/admin/user_manager/show?utf8=%E2%9C%93&amp;user={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>C33B50B0-99E6-4DA8-A0A1-6316EFDACF9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dep</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Github Compare Production With Master</string>
			<key>url</key>
			<string>https://github.com/envato/marketplace/compare/production...master</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>DA771235-5869-4A22-BDED-F3A0EEBFC40A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hea</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Marketplaces Health Check</string>
			<key>url</key>
			<string>http://codecanyon.net/admin/developers</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
